<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
{% load static %}
    <head>

        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <title>My ride - Add ride</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Styles -->

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Forms -->
        <link href="{% static 'css/jquery.idealforms.css' %}" rel="stylesheet">
        <!-- Select  -->
        <link href="{% static 'css/jquery.idealselect.css' %}" rel="stylesheet">
        <!-- Slicknav  -->
        <link href="{% static 'css/slicknav.css' %}" rel="stylesheet">
        <!-- Main style -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <!-- Modernizr -->
        <script src="{% static 'js/modernizr.js' %}"></script>

        <!-- Fonts -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>


    </head>

    <body>

      <header class="header">

        <div class="top-menu">

          <section class="container">
            <div class="row">

              <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="logo">
                  IIT Mandi Car Pool
                </div>
              </div><!-- end .col-sm-8 -->

              <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="user-log">

                  <a href="{% url 'dashboard' %}">
                                        Home
                                    </a> /
                  <a href="{% url 'logout' %}">
                                        Logout
                                    </a>

                </div>

              </div><!-- end .col-sm-4 -->

            </div><!-- end .row -->
          </section><!-- end .container -->

        </div><!-- end .top-menu -->

      </header><!-- end .header -->

        <section class="main-content">

            <div class="container">
                <div class="row">

                    <div class="col-sm-12 col-md-12 col-xs-12">

                        <div class="page-sub-title textcenter">
                            <h2>Add new ride</h2>
                            <div class="line"></div>
                        </div><!-- end .page-sub-title -->

                    </div><!-- end .col-lg-12 -->

                    <div class="col-sm-12 col-md-12 col-xs-12 add-rideclass">

                        <div class="page-content add-new-ride">

                            <form method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                  {% if forloop.counter == 1 %}
                                    <div style="display: none;">
                                      {{ field }}
                                    </div>
                                  {% else %}
                                    <label>{{ field.label_tag }}</label>
                                    <div>
                                      {{ field }}
                                    </div>
                                    {{ field.errors }}
                                    <br>
                                  {% endif %}
                                {% endfor %}
                                <div class="field buttons">
                                    <button type="submit" class="btn btn-lg green-color">Submit</button>
                                </div>
                                <!-- <div class="field">
                                    <select id="destination" name="destination">
                                        <option value="default">From</option>
                                        <option>Mandi</option>
                                        <option>South Campus</option>
                                        <option>North Campus</option>
                                    </select>
                                </div>

                                <div class="field">
                                    <select id="destinationd" name="destinationd">
                                        <option value="default">To</option>
                                        <option>Mandi</option>
                                        <option>South Campus</option>
                                        <option>North Campus</option>
                                    </select>
                                </div>

                                <div class="field">
                                    <input name="event" type="text" placeholder="Date" class="datepicker">
                                </div>

                                <div class="field">
                                    <select id="destination" name="destination">
                                        <option value="default">Number of seats</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>

                                <div class="field">
                                    <input type="number" id="text" name="text" placeholder="Amount">
                                </div> -->


                            </form>

                        </div><!-- end .page-content -->

                    </div><!-- end .col-sm-12 -->

                </div><!-- end .row -->
            </div><!-- end .container -->

        </section><!-- end .main-content -->

        <footer id="footer">

            <div class="footer-copyright">

                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            KamandPrompt
                        </div>

                    </div><!-- end .row -->
                </div><!-- end .container -->

            </div><!-- end .footer-copyright -->

        </footer><!-- end #footer -->

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div><!-- end .modal-header -->

                    <div class="modal-body">
                        <form action="" novalidate autocomplete="off" class="idealforms login">

                            <div class="log-header">
                                <span class="log-in">Log in</span>
                            </div>

                            <div class="field">
                                <input name="username" type="text" placeholder="Username">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input type="password" name="password" placeholder="Password">
                                <span class="error"></span>
                            </div>

                            <div class="field buttons">
                                <button type="submit" class="submit btn green-color">Log in</button>
                            </div>
                             <div>
                                      {% if messages %}
                                      <ul class="messages">
		                              {% for message in messages %}
		                              <li>
		                              <div class="alert alert-success"> {{ message }} </div>
		                              </li>
		                              {% endfor %}
                                      </ul>
                                      {% endif %}
                            </div>

                            <a href="#" class="log-twitter twitter"><i class="fa fa-twitter"></i>Twitter</a>
                            <a href="#" class="log-facebook facebook"><i class="fa fa-facebook"></i>Facebook</a>

                            <div class="clearfix"></div>

                        </form><!-- end .login -->
                    </div><!-- end .modal-body -->

                </div><!-- end .modal-content -->
            </div><!-- end .modal-dialog -->
        </div><!-- end .modal -->

        <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <form action="" novalidate autocomplete="off" class="idealforms reg">

                            <div class="log-header">
                                <span class="log-in">Sign up</span>
                            </div>

                            <div class="field">
                                <input name="username" type="text" placeholder="Username">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input name="email" type="email"  placeholder="E-Mail">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input type="password" name="password" placeholder="Password">
                                <span class="error"></span>
                            </div>

                            <div class="field">
                                <input name="confirmpass" type="password"  placeholder="Password">
                                <span class="error"></span>
                            </div>

                            <div class="field buttons">
                                <button type="submit" class="submit btn green-color">Sign up</button>
                            </div>

                            <div class="clearfix"></div>

                        </form><!-- end .reg -->
                    </div><!-- end .modal-body -->

                </div><!-- end .modal-content -->
            </div><!-- end .modal-dialog -->
        </div><!-- end .modal -->

        <!-- Javascript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Main jQuery -->
        <script type="text/javascript" src="{% static 'js/jquery.main.js' %}"></script>
        <!-- Form -->
        <script type="text/javascript" src="{% static 'js/jquery.idealforms.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.idealselect.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
        <!-- Menu -->
        <script type="text/javascript" src="{% static 'js/hoverIntent.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
        <!-- Counter-Up  -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script type="text/javascript" src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <!-- Rating  -->
        <script type="text/javascript" src="{% static 'js/bootstrap-rating-input.min.js' %}"></script>
        <!-- Slicknav  -->
        <script type="text/javascript" src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    </body>
</html>
